body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: rgb(181, 27, 27);
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-section {
    margin: 20px;
}

.menu-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.menu-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.price {
    font-weight: bold;
    color: #333;
}
